header {
    width: 100%;
    height: 80px;
    background-color: var(--theme-top-nav-bg);
    border-bottom: 1px solid #503535;
    position: fixed;
    z-index: 9999;
    top: 0;
}

.main-header-mobile {
    display: none;
}

.main-header {
    height: 80px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.header-top {
    width: 100vw;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 0px;
}

.header-left {
    width: 10%;
}

.header-bottom {
    min-width: 37%;
}

.header-bottom ul {
    width: 100%;
    display: flex;
    gap: 20px;
    height: 50px;
    line-height: 50px;
}

.header-bottom ul li a {
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.icon-header {
    color: white;
}

.header-bottom ul li a:hover {
    color: #fe0303;
}


.header-left-ios {
    max-width: 30%;
}

.logo {
    max-width: 100%;
    padding-left: 20%;
}

.logo img {
    height: 60px;
    width: 75px;
    object-fit: contain;
    /* position: absolute; */
}



.header-right {
    width: 20%;
}

.header-right-ios {
    max-width: 60%;
}

 .header-right-menu {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    position: absolute;
    gap: 10px;
    margin-top: -20px;
    /* margin-left: 5%; */
}
.header-right-menu.non-login {
  margin-left: 5%;
}


.header-right-menu a {
    width: 120px;
}

.header-right-menu a img {
    width: 117px;
    object-fit: contain;
}

.header-right-menu a {
    text-decoration: none;
    color: var(--theme-mine-icon-color);
    cursor: pointer;
}

.header-right .header-right-menu .login {
    width: 80px;
    height: 30px;
    background-image: url(/images/bg-btn.png), conic-gradient(from 0deg at 50% 50%, #ff0808 0deg, #e02626 89.73deg, #e02626 180.18deg, #ff0808 1turn);
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 12px;
    font-weight: 700;
}

.header-right .header-right-menu .login:hover {
    background-image: linear-gradient(#ff0000, #ae0707);
}

.header-noti {
    background: none;
    border: none;
}

.header-noti img {
    /* width: 25px; */
    font-size: 25px;
}

.header-right .header-right-menu .register {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background-image: url(/images/bg-btn.png), conic-gradient(from 0deg at 50% 50%, #1f50d6 0deg, #4a02ff 89.73deg, #003daf 180.18deg, #2b1fd6 1turn);
    color: white;
    border: none;
    font-size: 12px;
    font-weight: 700;
}

.header-right .header-right-menu .register:hover {
    background: linear-gradient(#eb4141, #b70b3c);
}

.header-right .header-right-menu .agentList {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background-image: url(/images/bg-btn.png), conic-gradient( from 0deg at 50% 50%, #ff9900 0deg, #ff6600 90deg, #ff3300 180deg, #ff6600 270deg, #ff9900 360deg );
    color: white;
    border: none;
    font-size: 12px;
    font-weight: 700;
}

.header-right .header-right-menu .vip {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background-image: url(/images/bg-btn.png), linear-gradient(135deg, rgb(47, 13, 0), rgb(167, 75, 0));
    color: #fff;
    border: none;
    font-size: 12px;
    font-weight: 700;
}



.header-right .header-right-menu .agentList:hover {
    background: linear-gradient(#eb4141, #b70b3c);
}

.header-right .header-right-menu .vip:hover {
    background: linear-gradient(135deg, #FFD700, #FFA500);
}

.header-right-ios .header-right-menu .login {
    width: 120px;
    height: 30px;
    background-image: url(/images/bg-btn.png), conic-gradient(from 0deg at 50% 50%, #ff0808 0deg, #e02626 89.73deg, #e02626 180.18deg, #ff0808 1turn);
    color: white;
    border-radius: 20px;
    border: none;
}

.header-right-ios .header-right-menu .register {
    width: 120px;
    height: 30px;
    border-radius: 20px;
    background-image: url(/images/bg-btn.png), conic-gradient(from 0deg at 50% 50%, #1f50d6 0deg, #4a02ff 89.73deg, #003daf 180.18deg, #2b1fd6 1turn);
    color: white;
    border: none;
}

.header-right-ios .header-right-menu .agentList {
    width: 120px;
    height: 30px;
    border-radius: 20px;
    background-image: url(/images/bg-btn.png), conic-gradient( from 0deg at 50% 50%, #ff9900 0deg, #ff6600 90deg, #ff3300 180deg, #ff6600 270deg, #ff9900 360deg );
    color: white;
    border: none;
}

.header-right-ios a:hover {
    color: var(--theme-jackpot-num-bg-shadow-color-0);
}

.header-right-ios span {
    height: 30px;
    margin-left: 10px;
    border-right: .01rem solid var(--theme-color-line);
}

.header-right a:hover {
    color: var(--theme-jackpot-num-bg-shadow-color-0);
}

.header-right span {
    margin-left: 10px;
}

.profile {
    display: grid;
    grid-template-columns: 50px 1fr;
    height: 50px;
    padding: 0px 15px;
    align-items: center;
    cursor: pointer;
}

.profile-menu {
    display: none;
    width: 250px;
    background-color: var(--theme-top-nav-bg);
    position: absolute;
    top: 50px;
    border-radius: 10px;
}

.profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
}

.profile-right .name {
    color: white;
}

.profile-menu li {
    list-style: none;
    padding: 10px;
    height: 30px;
    line-height: 30px;
    color: var(--theme-text-color);
    display: flex;
    gap: 10px;
}

.profile-menu ul {
    border-top: 1px solid var(--theme-text-color-lighten);
    border-bottom: 1px solid var(--theme-text-color-lighten);
}

.profile-menu li a {
    list-style: none;
    padding: 10px;
    height: 30px;
    line-height: 30px;
    color: var(--theme-text-color);
    display: flex;
    gap: 10px;
}

.profile-menu li a p {
    width: 100%;
}


.profile-menu li:hover {
    background: linear-gradient(to bottom, var(--theme-aside-active-bg-color-0), var(--theme-aside-active-bg-color-1));
}

.profile:hover {
    background: linear-gradient(to bottom, var(--theme-aside-active-bg-color-0), var(--theme-aside-active-bg-color-1));
    border-radius: 10px;


    .profile-menu {
        display: block;

    }


}


.icon-profile {
    width: 30px;
    height: 30px;
    padding-left: 10px;
}

.lang-menu {
    display: none;
    width: 150px;
    background-color: var(--theme-top-nav-bg);
    position: absolute;
    top: 45px;
    border-radius: 10px;
}

.lang-menu li {
    list-style: none;
    padding: 5px;
    height: 30px;
    line-height: 30px;
    color: var(--theme-text-color);
    text-align: center;
}

.lang-menu li:hover {
    background: linear-gradient(to bottom, var(--theme-aside-active-bg-color-0), var(--theme-aside-active-bg-color-1));
}

.menu-header-icon {
    width: 90%;
    display: none;
}

.menu-header-icon ul {

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: right;
}

.menu-header-icon ul li {
    line-height: 5px;
}



.header-bottom-mobile {
    width: 100%;
}

.header-bottom-mobile ul {
    display: flex;
    display: flex;
    gap: 8px;
    overflow: auto;
    padding: 8px;
    scrollbar-color: transparent transparent;
    white-space: nowrap;
}

.header-bottom-mobile ul li {
    align-items: center;
    background: #452828;
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-family: Nunito Sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    gap: 4px;
    line-height: 24px;
    padding: 4px 12px;
}

.header-bottom-mobile ul li a {
    color: white;
    display: flex;
    gap: 10px;
}

.header-right-menu.non-login .split{
    height: 30px;
    border-right: .01rem solid var(--theme-color-line);
}

@media(max-width: 1356px) {
    .main-header {
        width: 100%;
    }
}

@media(max-width: 900px) {
    .main-header {
        display: none;
    }

    .header-right {
        margin: auto;
    }

    .main-header-mobile {
        display: block;
        width: 90%;
        margin: auto;
        background: linear-gradient(180deg, #240202 70%, rgba(36, 2, 2, 0.63) 90%, rgba(36, 2, 2, 0));
        position: relative;
    }


    .header-left {
        max-width: 40%;
        margin: 0;
    }

    .header-left-ios {
        width: 40%;
    }

    .main-header-mobile .header-mobile .header-right .header-right-menu a,
    span {
        display: none;
    }

    .main-header-mobile .header-mobile .header-right .header-right-menu span {
        display: none;
    }

    .main-header-mobile .header-mobile .header-right-ios .header-right-menu a,
    span {
        display: none;
    }

    .header-right-ios {
        margin: auto;
    }

    .main-header-mobile .header-mobile .header-right-ios .header-right-menu span {
        display: none;
    }

    .header-right-ios .header-right-menu .login {
        width: 80px;
    }

    .header-right-ios .header-right-menu .register {
        width: 80px;
    }

    .header-right-ios .header-right-menu .agentList {
        width: 80px;
    }

    .header-right .header-right-menu .login {
        width: 80px;
    }

    .header-right .header-right-menu .register {
        width: 80px;
    }

    .header-right .header-right-menu .agentList {
        width: 80px;
    }


}

@media(max-width: 600px) {
    .main-header {
        display: none;

    }

    header {
        height: 60px;
    }

    .header-right-ios {
        margin: 10px 0 0 0;
    }

    .header-right {
        margin: 0;
    }

    .main-header-mobile {
        display: block;
        width: 98%;
        margin: auto;
        background: linear-gradient(180deg, #240202 70%, rgba(36, 2, 2, 0.63) 90%, rgba(36, 2, 2, 0));
        align-items: center;
        justify-content: center;
    }

    .main-header-mobile .header-mobile {
        width: 100%;
        height: 60px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }



    .header-left {
        max-width: 40%;
        margin: 0;
    }

    .header-right-menu{
        margin-left: -15% !important;
        margin-top: -25px !important
    }

    .main-header-mobile .header-mobile .header-right .header-right-menu a,
    span {
        display: none;
    }

    .main-header-mobile .header-mobile .header-right .header-right-menu span {
        display: none;
    }

    .main-header-mobile .header-mobile .header-right-ios .header-right-menu a,
    span {
        display: none;
    }

    .main-header-mobile .header-mobile .header-right-ios .header-right-menu span {
        display: none;
    }

    .header-right-ios .header-right-menu .login {
        width: 70px;
        font-size: 10px;
    }

    .header-right-ios .header-right-menu .register {
        width: 70px;
        font-size: 10px;
    }

    .header-right .header-right-menu .login {
        width: 80px;
        font-size: 12px;
    }

    .header-right .header-right-menu .register {
        width: 80px;
        font-size: 12px;
    }

    .header-right-menu .agentList {
        width: 70px;
        border-radius: 20px;
        background-image: url(/images/bg-btn.png), conic-gradient( from 0deg at 50% 50%, #ff9900 0deg, #ff6600 90deg, #ff3300 180deg, #ff6600 270deg, #ff9900 360deg );
        color: white;
        border: none;
        font-size: 10px;
    }

    .header-right-menu .agentList:hover {
        background: linear-gradient(#eb4141, #b70b3c);
    }


}